<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<gazebo>
  <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
    <left_joint>left_wheel_joint</left_joint>
    <right_joint>right_wheel_joint</right_joint>
    <wheel_separation>0.32</wheel_separation>
    <wheel_radius>0.0325</wheel_radius>

    <max_linear_acceleration>200</max_linear_acceleration>

    <topic>/cmd_vel</topic>
    <odom_topic>/odom</odom_topic>
    <publish_odom>true</publish_odom>
    <publish_odom_tf>true</publish_odom_tf>
    <odometry_frame>odom</odometry_frame>
    <robot_base_frame>base_link</robot_base_frame>
    <frame_id>odom</frame_id>
    <child_frame_id>base_link</child_frame_id>
    <tf_topic>/tf</tf_topic>
    <odom_publish_frequency>50</odom_publish_frequency>
  </plugin>
</gazebo>

<gazebo>
  <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
    <topic>/joint_states</topic>
    <joint_name>left_wheel_joint</joint_name>
    <joint_name>right_wheel_joint</joint_name>
  </plugin>
</gazebo>

</robot>


<!--?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<gazebo reference="chassis">
  <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
    - wheel information -
    <left_joint>left_wheel_joint</left_joint>
    <right_joint>right_wheel_joint</right_joint>
    <wheel_separation>0.32</wheel_separation>
    <wheel_radius>0.0325</wheel_radius>

    - limits -
    <max_linear_acceleration>200</max_linear_acceleration>

    - topics -
    <topic>cmd_vel</topic>
    <odom_topic>odom</odom_topic>
    <frame_id>odom</frame_id>
    <child_frame_id>base_link</child_frame_id>
    <tf_topic>tf</tf_topic>
    <odom_publish_frequency>50</odom_publish_frequency>

  </plugin>
</gazebo>

- Joint State Publisher for wheels -
<gazebo>
  <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
    <joint_name>left_wheel_joint</joint_name>
    <joint_name>right_wheel_joint</joint_name>
  </plugin>
</gazebo>

</robot> -->